<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Daily UI | #001 - Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="align">

  <div class="grid align__item">

    <div class="register">

      <img class="site__logo" width="84" height="84" src=<%= image_path('charla.svg') %> >

      <h2>Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form__field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name" %>
        </div>

        <div class="form__field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "youremail@example.com" %>
        </div>

        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <div class="form__field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "••••••••••••" %> 
        </div>

        <div class="form__field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "••••••••••••" %>
        </div>

        <div class="form__field">
          <%= f.submit "Sign up" %>
        </div>

      <% end %>

      <p><%= render "devise/shared/links" %></p>

    </div>

  </div>

</body>
</html>
