<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Daily UI | #001 - Sign Up</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="align">

  <div class="grid align__item">
  
    <div class="register">

      <img class="site__logo" width="84" height="84" src=<%= image_path('charla.svg') %> >

      <h2>Log In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form__field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form__field">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="form__field">
          <%= f.submit "Log in" %>
        </div>

      <% end %>

      <p><%= render "devise/shared/links" %></p>

    </div>

  </div>

</body>
</html>